
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
  background-color: white;
  color: black;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 18px;
  letter-spacing: -.04em;
}

hr {
  width: 90%;
  border: none; /* Remove the default border */
  border-top: 1px dashed #000; /* Add a dashed border to the top */
  margin: auto; /* Center the hr element */
}

.container-fluid {
  /* max-width: min(1650px, 90%); */
  max-width: min(1400px, 90%);
  margin: 0 auto;
  height: 100%;
  margin-top: 10px;
}

.flex-container {
  display: flex;
}

#leftcol,
#rightcol {
  display: flex;
  flex-direction: column;
  border-left: 1px dashed black;
  border-right: 1px dashed black;
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
  font-size: 0.85em;
  word-wrap: break-word;
}

.top-border {
  border-top: 1px dashed black;
}

.last-child-border {
  margin-top: auto;
  border-bottom: 1px dashed black;
}

#rightcol i,
#leftcol i {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;
}

.toptitlerow {
  padding-top: 10px;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  padding-bottom: 10px;
  text-align: center;
  min-height: 100px;
  word-wrap: normal;
}

.upperwords {
  font-family: 'IBM Plex Mono', monospace;
}

.note {
  font-style: italic;
  font-size: 0.9em;
  text-align: center;
  opacity: 0.7;
}

/* upper right icon links */
#icons {
  display: flex;
  padding-top: 10px;
  padding-left: 30px;
}

.aboutlinks {
  padding-left: 20px;
  padding-bottom: 15px;
}



#mainsection {
  background-image: linear-gradient(104.05deg, rgba(244,244,244,0.5) 0.02%, rgba(212,238,252,0.5) 50.02%, rgba(164,218,248,0.5) 100.02%)!important;
  padding-bottom: 15px;
  border-bottom: 1px dashed black;
}

.mapcol {
  display: flex; 
  justify-content: center; 
  align-items: center;
  border-right: 1px dashed black;
  
}

#clickedstation {
  font-family: 'IBM Plex Mono', monospace;
}

.scorecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.score {
  font-size: 1.2em;
  font-family: 'IBM Plex Mono', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scoretitle {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
}

.leftbox {
  width: 50%;
}

.rightbox {
  width: 50%;
  border-left: 1px dashed black;
}



#clickedstation {
  font-family: 'IBM Plex Mono', monospace;
}


.connect {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 15px;
  margin-top: -10px;
}

.promocolumn {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.promo {
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  width: 100%;
  height: 100%;  
}

.hiddenpromo1 {
  padding-top: 10px;
  font-size: 8rem;
  width: 100%;
  height: 100%;
  background-image: url('bluroffer-01.png');
  background-size: 100% 100%;
}

.hiddenpromo2 {
  padding-top: 10px;
  font-size: 8rem;
  width: 100%;
  height: 100%;
  background-image: url('bluroffer-02.png');
  background-size: 100% 100%;
}

.titlelogo {
  font-weight: 900;
  font-size: 1.1em;
  text-align: center !important;
  margin: auto;
  display: inline !important;
}

.title, #promotitle {
  font-weight: 900;
  font-size: 1.1em;
  text-align: center;
  padding-top: 10px;
  
}

#axlogo {
  max-height: 75px;
  display: inline !important;
}

.imginline {
  display: inline !important;
}



.diagonal-lines {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100px;
  overflow: hidden;
  
}

.diagonal-lines::before,
.diagonal-lines::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 1px;
  background-color: transparent;
  left: -50%;
  top: 50%;
  transform-origin: 50% 0;
}

.diagonal-lines::before {
  transform: rotate(45deg);
  border-top: 1px dashed black;
}

.diagonal-lines::after {
  transform: rotate(-45deg);
  border-top: 1px dashed black;
}

.faq {
  font-weight: 900;
  font-size: 1.3em;
}