body {
  font-size: 16px;
  background: url('background.svg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Exo 2';
}

a {
  color: #8880E5;
}

a:hover {
  color: #23D1BA;
}

a[title]:hover::after {
  content: attr(title);
  position: absolute;
  top: -100%;
  left: 0;
  color: orange;
}

#sol_address {
  margin-left: 20px;
  
}

.container-fluid {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding-top: 1%;
}

/* remove the default column padding for the app logo */
.title {
  padding-left: 0;
}

/* upper right icon links */
#icons {
  display: flex;
  padding-top: 10px;
  padding-left: 30px;
}

.appbody {
  margin-top: 10px;
}

/* centering the address input + buttons */

.addybuttons {
  display: flex;
  margin: auto;
  align-items: baseline;
  vertical-align: bottom;
  justify-content: left;
  font-family: 'Exo 2';
  font-weight: 500;
  color: #56575E;
  padding-bottom: 10px;
  padding-left: 20px;
}



#addy {
  border: solid #E2E4F7 2px;
  border-radius: 8px;
  background-color: white;
  
}



.btn-default, .btn-default:focus {
  border: solid #E2E4F7 2px;
  border-radius: 8px;
  margin-top: auto;
  color: black;
}

.btn-default:hover {
  background-color: #E2E4F7;
  border: solid #E2E4F7 2px;
}

.btn-capture {
  background-color: transparent !important;
  color: grey;
  border: 0 !important;
  opacity: 0.7;
}

.btn-capture:hover {
  background-color: transparent !important;
  color: grey;
  border: 0 !important;
  opacity: 1;
}

.form-group {
  margin-bottom: 0 !important;
}

.form-control {
  min-height: 42px;
}

#randomaddy {
 margin-left: 10px;
 margin-right: 10px;
}

#leftbox {
  border: 2px #E2E4F7 solid;
  border-radius: 8px;
  padding: 3px;
  background-color: #ffffff99;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 28px;
}
#botrightbox {
  border: 2px #E2E4F7 solid;
  border-radius: 8px;
  padding: 3px;
  background-color: #ffffff99;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 10px;
}



svg {
  max-height: 485px;
  margin: auto;
  display: block;
}

#wheelpart {
  background-color: transparent;
  position: relative;
  margin-top: 16px;
}

#svgout {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#score {
  text-align: center;
  font-family: Orbitron;
  font-size: 48px;
  z-index: 9;
}


#scorehist {
  margin-bottom: -38px;
}

/* make the slider more reasonably - color wise 
These are the ticks and text of the sliders
.irs-grid-pol, .irs-grid-text
*/
.irs {
  font-family: Roboto Mono !important;
}

/* make the slider more reasonably - color wise */
.irs-line {
  background-color: #E2E4F7 !important;
}
.irs-grid-pol.small {
  visibility: hidden !important;
}

.irs-min, .irs-max, .irs-from, .irs-to {
  font-size: .9em !important;
  top: 6px !important;
}

.irs-max, .irs-min {
  color: #686973 !important;
}

.irs-to, .irs-handle, .irs-from, .irs-max, .irs-min, .irs--sharp .irs-bar, .irs-single  {
  background-color: #26D994 !important;
}

.irs-handle:hover {
  opacity: 75%;
  background-color: #26D994 !important;
}
.irs--round .irs-bar {
  background-color: #26D994;
}


.irs-handle>i:first-child {
  border-top-color: #9945FF !important;
}

.irs-handle>i:first-child:hover, .irs-to:before, .irs-from:before, .irs-single:before {
  border-top-color: transparent !important;
}

.irs-handle {
  border: none !important;
}
.irs-grid {
  visibility: hidden !important;
  font-size: 0;
  height: 0;
  width: 0;
}

.irs-grid-text {
  visibility: hidden !important;
  visibility: hidden !important;
  font-size: 0;
  height: 0;
  width: 0;
}

.irs--round .irs-handle {
  border: none !important;
  top: 28px;
  width: 20px;
  height: 20px;  
}

.metric {
  font-family: 'Exo 2';
  text-align: center;
  width: 100%;
  font-size: 1.25em;
  background: -webkit-linear-gradient(#9945FF, #14F195);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.metricname {
  font-family: Orbitron;
  color: #9945FF;
  text-align: center;
  width: 100%;
  font-size: .8em;
  padding-bottom: 10px;
}

#bdnldscores, #dnldscores {
  text-align: center;
  margin: auto;
}

.score {
  font-family: 'Exo 2';
  text-align: center;
  width: 100%;
  font-size: 1.7em;
  background: -webkit-linear-gradient(#9945FF, #14F195);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yourscore {
  font-family: Orbitron;
  color: #9945FF;
  text-align: center;
  width: 100%;
  font-size: 1.1em;
  padding-bottom: 10px;
}

.boxtitle {
  text-align: center;
  font-family: Orbitron;
  margin-bottom: 10px;
}

.aboutlinks {
  margin-top: 6px;
  padding-left: 20px;
  padding-bottom: 15px;
}

.metricrow {
  margin: 5px;
  display: flex;
}

.metricholder {
  width: 25%;
}

.metricholder2 {
  width: 33%;
}

#indent {
  text-align: center;
  padding-bottom: 4px;
  font-size: .85em;
}

#sliderbox {
  margin-left: 14%;
  margin-right: 14%;
}

#hovernote {
  font-style: italic; 
  text-align: center; 
  font-size: .85em;
  color: #56575E;
}

.load-container {
  margin-top: 200px;
}










