@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap');

html {
  font-size: 18px;
}

body {
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  color: black;
  font-family: Epilogue, sans-serif;
  font-size: 18px;
  letter-spacing: -.03em;
}

.bold-title {
  font-size: 40px;
  line-height: 1.1em;
  font-weight: 600;
  letter-spacing: -.04em;
}

.container-fluid {
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* upper right icon links */
#icons {
  display: flex;
  padding-top: 10px;
  padding-left: 30px;
}

.aboutlinks {
  padding-left: 20px;
  padding-bottom: 15px;
}

.scorerow {
  padding-left: 6%;
  padding-right: 6%;
}

.scoreholder {
  position: relative;
  text-align: center;
  color: black;
}

.title {
  font-weight: 900;
  font-size: 1.1em;
}

.centeredtop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-top: 10%;
}
.scoretitle {
  font-size: 1.2em;
  font-weight: 600;
}
.score {
  font-size: 3em; 
  font-weight: 900;
}
.scoresubtitle {
  font-size: 0.9em;
  min-height: 50px;
}

#totalscore {
  font-size: 3em; 
  font-weight: 900;
  line-height: 1.1em;
}
.sections {
  display: flex;
  width: 100%;
  align-items: center;
}
.leftsection {
  font-size: 1.1em;
  font-weight: 500;
  width: 33%;
  padding-left: 8%;
  padding-right: 1%;
  
}
.centersection {
  font-size: 1.5em;
  font-weight: 500;
  width: 33%;
}

.rightsection {
  font-size: 1.1em;
  font-weight: 500;
  width: 33%;
  padding-left: 1%;
  padding-right: 8%;
}

.fas {
  font-size: 1.3em;
}

a {
  color: black;
}

.promptlinks, #right_no_wallet, #left_no_wallet {
  color: black !important;
  text-decoration: none;
}

#leftlink {
  color: black !important;
}

#rightlink {
  color: black !important;
}

.promptlinks:hover, #right_no_wallet:hover, #left_no_wallet:hover {
  opacity: 0.6;
  text-decoration: none;
}

.col-sm-7 {
  padding-right: 5px;
}
#vertcenter {
  display:flex;
  align-items:center;
  margin-bottom: 6px;
}

.col-sm-1 {
  padding-left: 0;
}

#right-arrow {
  margin-left: 20px;
  margin-right: 30px;
}

#connecttext {
  max-width: 65%;
}
