body {
  background: url('Background_03.png');
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

a, a:hover, a:visited, a:active {
  color: #F60001;
}

a:hover {
  color: #F6000195;
}

.container-fluid {
  background-color: transparent;
  margin: 0 auto;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

.titlebar {
  height: 70px;
  box-shadow: rgb(20 23 26 / 6%) 0px 6px 8px -6px, rgb(20 23 26 / 4%) 0px 8px 16px -6px;
  margin-bottom: 25px;
  padding-left: 2%;
}

.wrapper {
  background-color: white;
}

#connect {
  font-family: Rubik;
  color: #F60001;
  font-size: 1.02em;
  padding: 8px;
  border-radius: 4px;
  border: 3px solid #F60001;
}

#connect:hover {
  background-color: #F60001;
  color: white;
}

#connect:visited {
  background-color: transparent;
  color: #F60001;
}

.walletpart {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: right;
}

.description {
  font-size: 0.85em;
  color: #353535;
}

.alignholder {
  display: flex;
  width: 85%;
  margin-left: 10%;
  margin-right: 10%;
}

.left {
  height: 50px;
  line-height: 50px;
  width: 20%;
  background-color: white;
  border: 2px #F60001 solid;
  border-radius: 4px 0 0 4px;
  color: #F60001;
  text-align: center;
  font-family: Rubik;
  font-weight: 600;
  font-size: 1.2em;

}

.text {
  height: 50px;
  line-height: 50px;
  width: 80%;
  background-color: #F60001;
  border-radius: 0 4px 4px 0;
  border: 2px #F60001 solid;
  color: white;
  text-align: left;
  padding-left: 10px;
}


.scoreholder {
  border: 2px solid #F60001;
  border-radius: 17px;
  padding: 10px 30px 0 37px;
  max-width: 630px;
  margin: auto;
}

.bottom {
  padding: 10px 30px 0 37px;
  max-width: 634px;
  margin: auto;
  text-align: center;
}

.links > a {
  text-decoration: underline;
}


.scorebox {
  display: flex;
  padding: 10px;
}

.totalscorebox {
  display: flex;
  width: 86%;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 38px;
}

.scorecircle {
  background-color: #F60001;
  color: white;
  font-family: Rubik;
  font-size: 4em;
  text-align: center;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  line-height: 100px;
}

.shiny-image-output {
  height: 25px !important;
  width: 25px !important;
  margin-right: 10px;
}

button {
  border: 1px #F60001 solid;
  padding: 5px;
  color: #F60001;
  background-color: white;
  margin: 10px;
  border-radius: 4px;
  min-width: 250px;
}


#tx_button > button {
  font-family: Rubik;
  color: white;
  background-color: #F60001;
  font-size: 1.3em;
  padding: 10px;
  border-radius: 4px;
  border: 3px solid transparent;
}



.scorecolumns {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
}


.txbuttondiv {
  padding-top: 7%;
}

.modal-dialog {
  margin-left: 30%;
  margin-right: 30%;
}

.modal-content {
  background-color: white;
  border: 1px solid #F60001;
}
.modal-title {
  color: #F60001;
  font-weight: bold;
  border: none;
}
.modal-body {
  border: none;
  text-align: center;
}
.modal-footer {
 border: none; 
}



.links {
  color: #F60001;
  font-size: 0.95em;
  text-align: center;
}


#tx_button > button:disabled {
  background-color: #F6000197;  
  cursor: not-allowed;
}

#tx_button > button:hover:enabled {
  background-color: #CF0018
}


